<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>NTT Data Clientes</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
                <th scope="col">Primer apellido</th>
                <th scope="col">Segundo apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="cliente : ${listaClientes}">
				<tr>
					<td scope="row" th:text="${cliente.id}"></td>
                    <td scope="row" th:text="${cliente.name}"></td>
                    <td scope="row" th:text="${cliente.surName}"></td>
                    <td scope="row" th:text="${cliente.surName2}"></td>
                    <td scope="row" th:text="${cliente.DNI}"></td>
                    <td scope="row" th:text="${cliente.showCustomersViewDropInd}"></td>
                        <form action = actDropCustomer method = "post"></form>
                            <button th:disabled="${btnEliminarCliente}" type="submit"
                                id="btnDropCustomer" name="customerId" th:value="${customer.id}"
                                class="btn btn-danger">Eliminar</button>
				</tr>
			</th:block>
		</tbody>
	</table>

    <a class="btn btn-success" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>

</body>
</html>